<div class="container-fluid container-xxl m-auto mt-5 w-100">
    <div class="row text-center">
        <h1 class="fw-bold text-uppercase">My daily</h1>
    </div>
    <div class="wrapper-search row d-flex align-items-center bg-white p-3 rounded-5">
        <div class="col-lg-11 col-md-10 col-9">
            <input [(ngModel)]="ValueForm" type="text" placeholder="$ Amount Category"
                class=" h-auto p-2 rounded-3 input">
        </div>
        <div class="col-lg-1 col-md-2 col-3">
            <button class="btn btn-outline-dark bg-dark text-white p-lg-2 rounded-3 h-auto w-100"
                (click)="totl1()">Add</button>
        </div>
    </div>
</div>